@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.alto-cont{
    height: 600px;
}

.alto-malla{
    height: 40px;
    margin-top: 69px;
}

.alto-malla2{
    height: 40px;
    margin-top: 50px;
}

.alto-foto{
    height: 600px;
}

.container-video{
    height: 340px;
}

.tajeta-noticia{
    height: 180px;
}


/*estilos tabla recompensas*/

table{
	background-color: white;
	text-align: center;
	border-collapse: collapse;
	width: 80%;
    margin-left: 50%;
    margin-right: 50%;
}

table.lic{
	background-color: white;
	text-align: center;
	border-collapse: collapse;
	width: 90%;
}

th{
    font-size: 20px;
}

th, td{
	padding: 20px;
}

thead{
	background-color: #1E56A0;
	border-bottom: solid 5px #D6E4F0;
	color: white;
}

tr:nth-child(even){
	background-color: #ddd;
}

tr:hover td.imagen{
	background-color: #ffffff;
	color: white;
}

tr:hover td{
	background-color: #4384D9;
	color: white;
}

/*estilos tarjetas recompensas*/
.alto-tarjeta-r{
    height: 440px;
}


/*--------------------------------------------------*/
/*:::Ventana Modal1:::*/
#btn-modal1{
    display: none;
}
.container-modal1{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0; left: 0;
    background-color: rgba(144, 148, 150, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
#btn-modal1:checked ~ .container-modal1{
    display: flex;
}
.content-modal1{
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
}
.content-modal1 h2{
    margin-bottom: 15px;
}
.content-modal1 p{
    padding: 15px 0px;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
}
.content-modal1 .btn-cerrar1{
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}
.content-modal1 .btn-cerrar1 label{
    padding: 7px 10px;
    background-color: #5488a3;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
}
.content-modal1 .btn-cerrar1 label:hover{
    background-color:#185E83;
}
.cerrar-modal1{
    width:fit-content;
    height: fit-content;
    position: absolute;
    top:0; left: 0;
    z-index: -1;
}
@media screen and (max-width:800px) {
    .content-modal1{
        width: 90%;
    }
}
/*:::Fin Ventana Modal1:::*/


/*--------------------------------------------------*/
/*:::Ventana Modal2:::*/
#btn-modal2{
    display: none;
}
.container-modal2{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0; left: 0;
    background-color: rgba(144, 148, 150, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
#btn-modal2:checked ~ .container-modal2{
    display: flex;
}
.content-modal2{
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
}
.content-modal2 h2{
    margin-bottom: 15px;
}
.content-modal2 p{
    padding: 15px 0px;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
}
.content-modal2 .btn-cerrar2{
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}
.content-modal2 .btn-cerrar2 label{
    padding: 7px 10px;
    background-color: #5488a3;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
}
.content-modal2 .btn-cerrar2 label:hover{
    background-color:#185E83;
}
.cerrar-modal2{
    width:fit-content;
    height: fit-content;
    position: absolute;
    top:0; left: 0;
    z-index: -1;
}
@media screen and (max-width:800px) {
    .content-modal2{
        width: 90%;
    }
}
/*:::Fin Ventana Modal2:::*/

/*--------------------------------------------------*/
/*:::Ventana Modal3:::*/
#btn-modal3{
    display: none;
}
.container-modal3{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0; left: 0;
    background-color: rgba(144, 148, 150, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
#btn-modal3:checked ~ .container-modal3{
    display: flex;
}
.content-modal3{
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
}
.content-modal3 h2{
    margin-bottom: 15px;
}
.content-modal3 p{
    padding: 15px 0px;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
}
.content-modal3 .btn-cerrar3{
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}
.content-modal3 .btn-cerrar3 label{
    padding: 7px 10px;
    background-color: #5488a3;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
}
.content-modal3 .btn-cerrar3 label:hover{
    background-color:#185E83;
}
.cerrar-modal3{
    width:fit-content;
    height: fit-content;
    position: absolute;
    top:0; left: 0;
    z-index: -1;
}
@media screen and (max-width:800px) {
    .content-modal3{
        width: 90%;
    }
}
/*:::Fin Ventana Modal3:::*/

/*--------------------------------------------------*/
/*:::Ventana Modal4:::*/
#btn-modal4{
    display: none;
}
.container-modal4{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0; left: 0;
    background-color: rgba(144, 148, 150, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
#btn-modal4:checked ~ .container-modal4{
    display: flex;
}
.content-modal4{
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
}
.content-modal4 h2{
    margin-bottom: 15px;
}
.content-modal4 p{
    padding: 15px 0px;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
}
.content-modal4 .btn-cerrar4{
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}
.content-modal4 .btn-cerrar4 label{
    padding: 7px 10px;
    background-color: #5488a3;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
}
.content-modal4 .btn-cerrar4 label:hover{
    background-color:#185E83;
}
.cerrar-modal4{
    width:fit-content;
    height: fit-content;
    position: absolute;
    top:0; left: 0;
    z-index: -1;
}
@media screen and (max-width:800px) {
    .content-modal4{
        width: 90%;
    }
}
/*:::Fin Ventana Modal4:::*/

/*--------------------------------------------------*/
/*:::Ventana Modal5:::*/
#btn-modal5{
    display: none;
}
.container-modal5{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0; left: 0;
    background-color: rgba(144, 148, 150, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
#btn-modal5:checked ~ .container-modal5{
    display: flex;
}
.content-modal5{
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
}
.content-modal5 h2{
    margin-bottom: 15px;
}
.content-modal5 p{
    padding: 15px 0px;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
}
.content-modal5 .btn-cerrar5{
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}
.content-modal5 .btn-cerrar5 label{
    padding: 7px 10px;
    background-color: #5488a3;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
}
.content-modal5 .btn-cerrar5 label:hover{
    background-color:#185E83;
}
.cerrar-modal5{
    width:fit-content;
    height: fit-content;
    position: absolute;
    top:0; left: 0;
    z-index: -1;
}
@media screen and (max-width:800px) {
    .content-modal5{
        width: 90%;
    }
}
/*:::Fin Ventana Modal5:::*/

/*:::Ventana Modal recompensas:::*/
#btn-modal-recompensas{
    display: none;
}

#btn-modal-canjear{
    display: none;
}
.container-modal-recompensas{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0; left: 0;
    background-color: transparent;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
#btn-modal-recompensas:checked ~ .container-modal-recompensas{
    display: flex;
}

#btn-modal-canjear:checked ~ .container-modal-recompensas{
    display: flex;
}
.content-modal-recompensas{
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
}
.content-modal-recompensas h2{
    margin-bottom: 15px;
}
.content-modal-recompensas p{
    padding: 15px 0px;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
}
.content-modal-recompensas .btn-cerrar-recompensas{
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}

.content-modal-recompensas .btn-cerrar-recompensas label{
    padding: 7px 10px;
    background-color: #163172;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
}

.content-modal-recompensas .btn-canjear{
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: flex-start;
}

.content-modal-recompensas .btn-canjear label{
    padding: 7px 10px;
    background-color: #163172;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
}

.content-modal-recompensas .btn-canjear label:hover{
    background-color:#437ECB;
}

.content-modal-recompensas .btn-cerrar-recompensas label:hover{
    background-color:#437ECB;
}



/*:::Fin Ventana Modal recompensas:::*/

/*:::Ventana eliminar:::*/
#btn-modal-eliminar{
    display: none;
}
.container-modal-eliminar{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0; left: 0;
    background-color: rgba(144, 148, 150, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
#btn-modal-eliminar:checked ~ .container-modal-eliminar{
    display: flex;
}
.content-modal-eliminar{
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
}
.content-modal-eliminar h2{
    margin-bottom: 15px;
}
.content-modal-eliminar p{
    padding: 15px 0px;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
}
.content-modal-eliminar .btn-eliminar{
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}
.content-modal-eliminar .btn-eliminar label{
    padding: 7px 10px;
    background-color: #5488a3;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
}
.content-modal-eliminar .btn-eliminar label:hover{
    background-color:#185E83;
}
.cerrar-modal-eliminar{
    width:fit-content;
    height: fit-content;
    position: absolute;
    top:0; left: 0;
    z-index: -1;
}

.content-modal-eliminar .btn-borrar{
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: flex-start;
}

.content-modal-eliminar .btn-borrar label{
    padding: 7px 10px;
    background-color: #ff0404;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
}

.content-modal-eliminar .btn-borrar label:hover{
    background-color:#b10000;
}
@media screen and (max-width:800px) {
    .content-modal-eliminar{
        width: 90%;
    }
}
/*:::Fin Ventana eliminar:::*/

/*estilos documentos usuario*/
div#body{
	margin:40px auto;
	width:900px;
	min-height:50px;
	overflow: hidden;
	border-radius: 5px;
}

div.subapartado{
	width:900px;
	min-height:50px;
    padding-top: 20px;
	-webkit-transiton: height 0.2s;

}

div.titulo{
	width:900px;
	height:50px;
	background-color: #437ECB;
	overflow: hidden;
	border-bottom: 1px solid #1E56A0;
}

p.titulo{
	margin:13px;
	color: white;
}

div.info{
	width:900px;
	height:0px;
	background-color: #f3f1f1;
    box-shadow: inset;
	overflow: hidden;
	-webkit-transition: height 0.6s;
}

p.info{
	margin:20px;
	text-align: center;
	color:#4f4f4f;
}

div.subapartado:hover div.info{

	height:300px;

}

