
footer {
    background-color: #2B3467;
    position: fixed;
    bottom: 0;
    width: 110%;
    left: 0;
    box-sizing: border-box;
    height: 280px;

  }

  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.logopuebla{
    text-align: center;
}

  .logopuebla img {
    height: 100px;
    text-align: center;

  }

  .social-links{

    right: 0;
    text-align: center;
  }

  .social-link {
    width: 200px;
    text-decoration: none;
  }
  .social-link img{
    width: 40px;
  }

  .social-linkf {
    width: 200px;
    text-decoration: none;
  }
  .social-linkf img{
    width: 35px;
  }

  .social-linki {
    width: 200px;
    text-decoration: none;
  }
  .social-linki img{
    width: 44px;
    margin-bottom: -3px;
  }

  .text{
    color: white;
    margin-left: 20px;
  }
