
/* Estilos generales de la navbar */
.navbar {
    background-color: #1E56A0;
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .navbar-container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 20px;
  }

  .navbar-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    width: auto;
  }

  .navbar-links a {
    text-decoration: none;
    margin-right: 20px;
    padding: inherit;
    width: max-content;
  }

*{
    font-family: 'Josefin Sans', sans-serif;
}
